//bootstrap defaults


/* phones -- */ 
$breakpoint-xs: 320px;
/* phones ++ */ 
$breakpoint-sm: 480px;

/* tablets */ 
$breakpoint-md: 768px;

/* desktop */ 
$breakpoint-lg: 992px;

@mixin screen($size, $type: max, $pixels: $breakpoint-xs) {
  @if $size == 'xs' {
    @media screen and ($type + -width: $breakpoint-xs) {
        @content;
    }
  }
  @else if $size == 'sm' {
    @media screen and ($type + -width: $breakpoint-sm) {
        @content;
    }
  }
  @else if $size == 'md' {
    @media screen and ($type + -width: $breakpoint-md) {
        @content;
    }
  }
 @else if $size == 'lg' {
    @media screen and ($type + -width: $breakpoint-lg) {
        @content;
    }
  }
  @else if $size == 'custom' {
    @media screen and ($type + -width: $pixels + px) {
     @content;
    }
  }
  @else {
    @content;
  }
}