/* ==========================================================================
   Coyote's custom styles
   ========================================================================== */

$brand-color: #ff6633;
$inline-link: #666;
$light-gray: #f3f3f3;
$bg-gray: #403d3b;
$dark-gray: #333;
$learn-gray: #eaeaea;
$text-font-stack: 'Segoe UI',
'SegoeUI',
'Segoe WP',
'Helvetica Neue',
'Helvetica',
'Tahoma',
'Arial',
'sans-serif';
$white: #fff;
$black: #000;

.bg-white {
  background-color: $white;
}

p {
  line-height: 132.5%;
}
.cc-container {
  display: none;
}
.cookiebanner .cc-container {
  display: block;
}
.cookiebanner .navbar-default {
 margin-top: 66px;
}
@media (min-width: 768px) {
  margin-top: 47px;
}
.cookiebanner .navbar-default.shrink {
  margin-top: 0;
}
/*
 * Navigation
 */

.navbar-default {
  background-color: transparent;
  height: 110px;
  border: 1px solid transparent;
  transition: all .2s ease-in;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  margin-top: 15px;

  .icon-bar {
    background-color: $brand-color;
  }
}

//fixed topnav - shrink onscroll
.navbar-default.shrink {
  background-color: $white;
  height: 60px;
  border: 1px solid $light-gray;
  transition: 0.5s;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
}

.navbar-default .navbar-nav>li {
  padding: 15px;
  transition: all .3s ease-in;
}

.navbar-default.shrink .navbar-nav>li {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited {
  color: $dark-gray;
  line-height: 30px;
  padding: 15px 0 10px 0;
  transition: 0.2s;
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li.active a {
  border-bottom: 3px solid $brand-color;
  color: $dark-gray;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: $brand-color;
}

//fullscreen menu
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  display: none;
}

.closebtn:hover,
.closebtn:active,
.closebtn:focus {
  text-decoration: none;
}

#navbar.collapse.in,
#navbar.collapsing {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #403D3B;
  text-align: center;
  max-height: none;
  overflow: hidden;
  z-index: 99;

  a {
    color: $white;
    line-height: 20px;
    border: none;

    &:hover {
      color: $brand-color;
    }
  }

  .navbar-brand-menu {
    background: url("/coyote/assets/images/logo_coyote_white.svg") no-repeat 30px center;
    display: block;
    width: 267px;
    height: 40px;
    background-size: contain;
    margin: 20px 0 0 0;
    transition: .3s;
  }
  .closebtn {
    display: inline;
  }

  ul {
    width: 170px;
    margin: 40px auto 0 auto;
  }

  .nav>li {
    padding: 10px;
  }

  // logo
  .navbar-logo {
    width: 50px;
    margin: 20px auto;
  }
}

// homepage brand
.navbar-brand {
  display: block;
  background: url("/coyote/assets/images/logo_coyote.svg") no-repeat 30px center;
  width: 267px;
  height: 40px;
  background-size: contain;
  margin: 20px 0 0 0;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .home .navbar-default .navbar-brand {
    width: 147px;
  }
}

.shrink .navbar-brand {
  height: 20px;
  margin-top: 15px;
}

.shrink .cookie-banner {
  display: none;
}

.home {
  .navbar-header {
    position: relative;
  }

  .brand-home {
    position: absolute;
    z-index: 1;
    background: url("/coyote/assets/images/logo_coyote_white.svg") no-repeat;
    background-position: center 20px;
    background-size: 130px auto;
    transition: all .2s ease-in;
    padding: 0 10px;
    width: 200px;
    height: 200px;
    margin: 0;
    background-color: $brand-color;
    color: $white;
    text-decoration: none;

    &:hover {
      background-color: $brand-color;
      color: $white;
      text-decoration: none;
    }

    @media only screen and (min-width: 768px) {
      width: 300px;
      height: 320px;
      background-size: 180px auto;
      background-position: center 30px;
      padding: 0 48px;
    }

    span {
      opacity: 1;
      transition: all .2s ease-in;
      color: $white;
      display: block;
      font-size: 20px;
      line-height: 122.2%;
      font-weight: 100;
      width: 100%;
      padding: 63px 22px;

      @media only screen and (min-width: 768px) {
        font-size: 30px;
        padding: 100px 10px;
      }
    }

    &.brand-shrink {
      background-color: transparent;
      background: url("/coyote/assets/images/logo_coyote.svg") no-repeat 30px center;
      width: 267px;
      height: 20px;
      margin-top: 15px;
      background-size: contain;

      span {
        opacity: 0;
        margin-top: -100px;
      }
    }
  }
}

/*
  Reference Section
*/
.navbar-case-studies{
    padding: 0 20px 0 20px;
}

.navbar-case-studies h1 {
  margin: 20px 0;
}

.navbar-case-studies .navbar-nav>li {
  float: none;
}

.navbar-case-studies .navbar-nav>li>a {
  padding: 10px 0;
  font-size: 14px;
  line-height: 14px;
}

.navmenu-fixed-left .panel-body a {
  font-size: 14px;
  line-height: 14px;
  position: relative;
  text-decoration: none;
}

.navmenu-fixed-left a:hover,
.navmenu-fixed-left .active {
  text-decoration: none;
  color: $brand-color;
}

.navmenu-fixed-left a::before {
  content: '';
  //display: inline-block;
  margin-left: -7px;
  float: left;
  width: 4px;
  height: 14px;
  margin-top: 5px;
}

.navmenu-fixed-left a.active::before {
  background-color: $brand-color;
}

.list-unstyled [class^="learn-"]  {
  padding: 0;
  margin: 0;
  a {
    font-size: 12px;
  }
  li {
    padding: 5px 0 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li a.active:before {
    color: $brand-color;
  }
}

#results-container {
  p {
    font-size: 14px;
  }

  h3 {
    font-size: 18px;

    &:hover {
      color: $brand-color;
    }
  }

  hr {
    border-top-color: $black;
  }
}
.panel-heading {

  a {
    text-decoration: none;
  }

  // up/down arrows on click
  a::after {
    font-family: 'Glyphicons Halflings';
    content: "\e259";
    transition: all 0.5s;
    font-size: 14px;
    font-weight: 100;
    display: inline-block;
    margin: 0 0 0 8px;
  }

  &.active a::after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.panel-title>a,
.panel-title>a:focus,
.panel-title>a:hover {
  text-decoration: none
}

.panel-title>a.active {
  color: $black;
}
.reference.section-main {
  margin-top: 0;

}

.reference .display-flex article {
  max-width: 100%;
}
.reference .row.display-flex {
  align-items: inherit;
}
.panel,
.panel-default>.panel-heading,
.panel-group .panel,
.panel-group,
.panel-default>.panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body,
.nav-tabs {
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
}

.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs,
.nav-tabs>li>a:hover {
  border-color: transparent;
  border: none;
  margin-top: -2px;
}

.panel-title {
  font-size: 18px;

  a {
    color: $inline-link;
  }
}

.reference h1:first-of-type,
.reference h2:first-of-type,
.reference h3:first-of-type {
  margin-top: 0;
}
.reference h1:not(:first-of-type),
.reference h2:not(:first-of-type),
.reference h3:not(:first-of-type) {
  margin-top: 35px;
}

//reference v1
.navmenu-fixed-left-wrapper {

  max-width: 300px;
  background-color: $learn-gray;

  // Fixed position if we are not on small screen.
  @include screen(lg, min) {
    width: 300px;
    position: fixed;
    z-index: 300;
  }

  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    width: 27%;
    position: fixed;
    z-index: 300;
  }

  @include screen(sm, max) {
    width: 100%;
    max-width: none;
    position: relative;
  }

  .navmenu-fixed-left {
    padding: 120px 0 0 0;

    @include screen(md) {
      padding: 80px 0 0 0;
      height: auto;
    }
  }
}

.reference-content {
  z-index: 0;

  @include screen(lg, min) {
    width: 100%;
    margin-left: 300px;
    padding-left: 0px;
  }

  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    width: 100%;
    margin-left: 27%;
  }

  @include screen(sm) {
    width: 100%;
    margin-left: 0;
    padding-top: 0px;
  }
}

.has-search .form-control-feedback {
  right: initial;
  left: 0;
  color: #ccc;
}

.has-search .form-control {
  padding-right: 12px;
  padding-left: 34px;
}

// reference v2

.container-reference {
  height: 100%;
}

.reference-wrapper {
  margin-bottom: 900px;
  background-color: $white;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  background: $white url('/coyote/assets/images/bg-reference.png') repeat-y top left;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .45);
  box-shadow: 0 0 30px rgba(0, 0, 0, .45);
  min-height: 90vh;
}

.reference-wrapper .row {
  height: 100%;
  padding-bottom: 50px;
}

.nav-left-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 0;
}

// provide space at bottom of TOC so last entry is not slammed right at the bottom.
.nav-left-wrapper:after {
  content: "";
  height: 70px;
  width: 30px;
  position: sticky;
  bottom: 0;
  display: block;

  @include screen(md) {
    height: 10px;
  }
}

.nav-left-wrapper .list-unstyled li {
  padding: 0 0 0 13px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-wrapper {
  position: sticky;
  top: 0;
  padding: 0 20px 10px 20px;
  background: linear-gradient(180deg, rgba(234, 234, 234, 1) 75%, rgba(255, 255, 255, 0) 100%);
  z-index: 3;
}

.nav-left-wrapper::-webkit-scrollbar {
  width: 10px
}

.nav-left-wrapper::-webkit-scrollbar-track {
  background: $learn-gray;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-left-wrapper::-webkit-scrollbar-track:hover {
  background: #eeeeee;
}

.nav-left-wrapper::-webkit-scrollbar-track:active {
  background: #a8a8a8;
}

.nav-left-wrapper::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border: 1px solid $white;
  border-radius: 5px
}

.nav-left-wrapper::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}

.nav-left-wrapper::-webkit-scrollbar-thumb:active {
  background: $brand-color;
}

.nav-left-wrapper::-webkit-scrollbar-corner {
  background: rgb(7, 4, 39);
}

.has-search .form-control-feedback {
  right: initial;
  left: 0;
  color: #ccc;
}

.has-search .form-control {
  padding-right: 12px;
  padding-left: 34px;
}

#results-container {
  padding: 0;
  overflow: hidden;
}

// reference mobile styles
.reference-wrapper {
  @include screen(md) {
    background: none;
    padding-top: 0;
    background-color: $white;
    min-height: auto;
    margin-bottom: 0;
  }
}
.nav-left-wrapper {
  @include screen(md) {
    background-color: $learn-gray;
    width: 100%;
    max-width: none;
    max-height: none;
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
    overflow: visible;
  }
}

.search-wrapper {
  @include screen(md) {
    // position: relative;
  }
}

.reference footer {
  z-index: 0;

  @include screen(lg, min) {
    // width: 100%;
    margin-left: 300px;
  }

  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) { // 480px to 992px
    width: 73%;
    margin-left: 27%;
  }

  @include screen(sm) {
    width: 100%;
    margin-left: 0;
  }
}
/*
 end reference section
*/

//footer navigation
footer {
  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: $white;
    white-space: nowrap;
  }


  a {
    color: $white;
    text-decoration: none
  }
}

.footer-join {
  background-color: $light-gray;
  color: $dark-gray;

  .container-fluid {
    max-width: 992px;
  }

  h1 {
    font-weight: 300;
  }

  a,
  a:active {
    color: $inline-link;
    font-weight: bold;
    display: block;
    border-bottom: 2px solid $black;
    padding: 10px 0 25px 0;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    border-bottom: 2px solid $brand-color;
  }
}



//better text formatting for mobile
.footer-join .text-center,
.footer-dark .text-right {
  @include screen(md) {
    text-align: left;
  }
}

.footer-dark {
  background-color: $bg-gray;
  color: $white;

  a {
    color: $white;
    font-size: 16px;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      text-decoration: underline;
    }
  }
}

.footer-dark-col {
  @include screen(custom, max, 555) {
    width: 100%;
  }
}

.logo-footer {
  margin: 0 0 0 20px;
  display: block;
  width: 50px;
}

.logo-mark {
  fill: none;
  stroke: $white;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.footnote {
  a {
    font-size: 14px;
    line-height: 16px;
  }
}

.footnote li {
  margin-right: 20px;

  @include screen(sm) {
    display: block;
    float: none;
  }
}

.footnote-copy {
  .list-unstyled li {
    padding-bottom: 0;
    margin: 0 0 0 10px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    display: inline-block;
    float: right;
  }
  img {
    width: auto;
    height: 16px;
  }
}

//end footer

/*
 * End navigation
 */


/*
 * Homepage carousel
 */


.carousel {
  margin-left: 80px;
  min-height: 542px;

  @include screen(xl) {
    min-height: auto;
  }

  @include screen(lg) {
    margin-left: 50px;
  }

  @include screen(md) {
    margin-left: 0;
  }
}

.carousel-inner {
  overflow: visible;
}

.carousel-container {
  @include screen(xl) {
    width: 100%;
    padding: 0;
  }
}

.carousel-inner>.item>img {
  @include screen(xl) {
    max-width: 73%;
  }
}

.carousel-indicators-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  width: 50px;
}

.carousel-indicators {
  position: sticky;
  margin: 0;
  padding: 0;
  left: 0;
  top: 335px;
  text-align: left;
  width: 50px;
  background-color: $white;
  border-radius: 20px;

  @include screen(lg) {
    top: 337px;
  }

  @include screen(md) {
    top: 217px;
  }

  @include screen(sm) {
    left: -60px;
  }

  li {
    display: inline-block;
    width: auto;
    height: auto;
    margin: auto;
    text-indent: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.15);
    display: block;
    float: none;
    padding: 2px 0 2px 30px;
    margin: 0 0 10px 0;

    @include screen(sm) {
      font-size: 14px;
    }
  }

  .active {
    width: auto;
    height: auto;
    margin: 0;
    background-color: transparent;
    color: $black;
    border-bottom: 1px solid $brand-color;
    padding: 2px 0 2px 30px;
    margin: 0 0 10px 0;
  }
}

.carousel-caption {
  width: 100%;
  text-shadow: none;
  color: inherit;
  text-align: left;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

.carousel-caption-content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;

  .btn,
  p {
    margin-top: 20px;
  }

  @include screen(xl) {
    max-width: 24%;
    width: auto;
    font-size: 16px;
    margin-right: 10px;
  }
}

.carousel-caption-content p {
  @include screen(xl) {
    font-size: 15px;
  }
}

.carousel-caption h1 {
  text-align: right;
  margin: 160px 0 0 0;
  font-size: 67px;

  @include screen(xl) {
    margin: 138px 10px 0 0;
    font-size: 55px;
  }

  @include screen(lg) {
    margin: 107px 10px 0 0;
    font-size: 45px;
  }

}

//send captions below image
@media screen and (max-width: 900px) {
  .carousel-indicators-wrapper {
    left: 0;
  }

  .carousel-inner>.item>img {
    max-width: 100%;
    padding: 0 0 0 60px;
  }

  .carousel-caption {
    position: static;
    padding: 15px;
    width: 100%;
    padding: 15px 0 0 60px;
  }

  .carousel-caption h1 {
    position: static;
    text-align: left;
    font-size: 40px;
    margin: 0;
  }

  .carousel-caption-content {
    position: static;
    width: auto;
    max-width: 100%;
    font-size: initial;
  }
}

@media screen and (max-width: 480px) {
  .carousel-inner>.item>img {
    margin-top: 90px;
  }
}



/*
 * End homepage carousel
 */

/*
 * Misc
 */

.section-main {
  margin-top: 110px;

  @include screen(lg) {
    margin-top: 90px;
  }

  @include screen(md) {
    margin-top: 75px;
  }

}

.container-hero-text {
  margin: 40px auto 80px auto;
  clear: both;
  transition: all .2s;

  @include screen(xl) {}

  @include screen(lg) {}

  @include screen(md) {}

  @include screen(sm) {}
}



.container-grid img {
  width: 100%;
}

.img-shadow {
  box-shadow: 0px 30px 20px rgba(141, 141, 141, 0.187868);
  -webkit-box-shadow: 0px 30px 20px rgba(141, 141, 141, 0.187868);
  -moz-box-shadow: 0px 30px 20px rgba(141, 141, 141, 0.187868);
}

.container-gray {
  background-color: $light-gray;
}

.container.basic {
  margin-bottom: 50px;
}

body.gray {
  background-color: $light-gray;

  article {
    background-color: $white;
  }
}

article .btn {
  margin-top: 30px;
  text-decoration: none;
}

article .btn:first-of-type {
  margin-right: 30px;
}
.feature-img {
  margin-bottom: 100px;

  @include screen(md) {
    margin-bottom: 0;
  }
}

.feature-img-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  min-width: 550px;

  @include screen(lg) {
    min-height: 500px;
    min-width: 100vw;
  }

  @include screen(md) {
    min-height: 400px;
  }

  @include screen(sm) {
    min-height: 300px;
  }
}

.feature-img .feature-img-bg {
  min-height: 500px;
  max-width: 100%;
  min-width: 100%;

  @include screen(md) {
    min-height: 400px;
    min-width: 100vw;
  }

  @include screen(sm) {
    min-height: 300px;
    min-width: 100vw;
  }
}

.feature-img figure img {
  width: 100%;
  height: auto;
}

.section-tabs h1 {
  margin-bottom: 50px;
}




//hide on page load for transition effects - IDs used here rather than classes, because they reference javascript fx
#home_figure_1,
#home_text_1,
#home_figure_2a,
#home_figure_2b,
#home_text_2 {
  opacity: 0;
}

/*
 * End misc
 */


/*
 * Helpers
 */

.aligner {
  @include screen(md) {
    display: block;
  }
}

.aligner-item {
  @include screen(md) {
    max-width: 100%;
  }
}

.center-wrapper {
  position: relative;
}

.center-vertical {
  @include center(vertical);
}

.center-horizontal {
  @include center(horizontal);
}

.center-margins {
  margin: 0 auto;
}

.center-both {
  @include center(both);
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.row.display-flex>[class*='col-'] {
  display: flex;
  flex-direction: column;
}

.grid .row.display-flex {
  align-items: stretch;
}

.container-fluid-no-gutters,
.no-gutters {
  padding-right: 0;
  padding-left: 0;

  @include screen(sm) {
    overflow: hidden;
  }
}

/*
 * End helpers
 */

 /* video player */

.responsive-video {
  width: 75%;

  @include screen(sm, max) {
    width: 100%;
  }

  @include screen(xl, min) {
    width: 1080px;
  }
}


/*
 * button styles
 */

.btn {
  border-radius: 0;
  -webkit-box-shadow: 0px 4px 5px rgba(255, 102, 51, 0.277146);
  -moz-box-shadow: 0px 4px 5px rgba(255, 102, 51, 0.277146);
  box-shadow: 0px 4px 5px rgba(255, 102, 51, 0.277146);
  padding: 8px 22px;
  transition: .2s;
}

a.btn-primary {
  color: $white;
  background-color: $brand-color;
  border-color: $brand-color;
  text-decoration: none;
}

a.btn-primary:hover {
  color: $white;
  background-color: lighten($brand-color, 10%);
  border-color: lighten($brand-color, 10%);
}

a.btn-primary.active,
a.btn-primary:active {
  background-color: darken($brand-color, 10%);
  border-color: darken($brand-color, 10%);
}

a.btn-primary.focus,
a.btn-primary:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  background-color: $brand-color;
  border-color: $brand-color;
  outline: 1px solid $black;
  outline-offset: 2px;
}


.btn-default {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: $white;
}

.btn-default:hover {
  background-color: $white;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: 0;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 15px;
  }
}

blockquote {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-weight: normal;
}

.section-quote,
.section-text {
  margin: 80px auto;

  h1 {
    margin-bottom: 40px;
    margin-top: 0;
  }
}

.section-text {
  @include screen(lg) {
    margin: 40px auto;
  }
}

.section-quote {
  background-color: $light-gray;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-quote blockquote {
  font-size: 36px;
  line-height: 41px;
  border-left: none;
  max-width: 1015px;
  margin: 0 auto;

  &::before {
    content: "\201C";
    display: block;
    font-size: 180px;
    color: $brand-color;
  }

  footer {
    font-family: $text-font-stack;
    font-style: normal;
  }
}

.section-text [class^="col"] {
  max-width: 1015px;
  margin: 0 auto;
  float: none;
}

code[data-clipboard-target] {
  padding: 12px 22px 12px 14px;
  margin: 20px 0;
  font-size: 90%;
  color: $white;
  background-color: #555;
  border-radius: 4px;
  display: block;
}

code[data-clipboard-target]::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0c5";
  font-weight: 900;
  float: right;
  margin-right: -10px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

pre code::after {
  content: none;
}

code.highlighter-rouge {
  background-color: transparent;
  color: #4091B1;
}

//trigger navbar collapse sooner so topnav doesn't collide with branding
@media (max-width: 1110px) {

  .navbar-header,
  .navbar-brand {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.nav-tabs {
  @include screen(sm) {
    margin-left: -10px;
    margin-top: 8px;
  }
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: transparent;
}

.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover {
  @include screen(sm) {
    font-size: 16px;
    padding: 6px 6px;
  }
}

.list-unstyled li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control:focus {
  border-color: $brand-color;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 102, 51, 0.23);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 102, 51, 0.23);
}


.display-flex article {
  margin: 50px auto;
  max-width: 70%;


  @include screen(lg) {
    max-width: 80%;
  }

  @include screen(md) {
    max-width: 90%;
    margin: 0 auto 40px auto;
  }

}

.flex-article {
  h2 {
    font-size: 40px;
    line-height: 46px;
    font-weight: 100;

    a {
      font-size: 40px;
      text-decoration: none;
    }
  }

  h3 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
  }

  li {
    margin: 20px 0;
  }

  blockquote {
    margin: 0;
    padding: 0;
    border: none;
  }

  h3 blockquote {
    font-size: 25px;
  }

  .cta {
    display: block;
    margin-top: 30px;
  }

  &>* {
    margin-bottom: 20 !important;
  }
}
/*
 * Basic typography --
   keep at botom of this file to avoid inheritence issues
 */

 body {
  font-family: $text-font-stack;
  font-size: 16px;
  line-height: 132.5%;
  overflow-x: hidden;
}

footer i {
  color: $brand-color;
}

a {
  color: $inline-link;
  text-decoration: underline;
}

a:hover {
  color: $brand-color;
  text-decoration: underline;
}

a:focus,
a:active {
  color: $brand-color;
  text-decoration: underline;
}

/* used to hide links on headings which are there so reader can learn the anchors */
.a-unstyled {

  &,
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:active:hover {
    color: inherit;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: $dark-gray;
}

h1 {
  font-size: 40px;
  line-height: 46px;
}

.cta {
  text-decoration: none;
  transition: all 200ms ease-in-out;

  &:hover {
    text-decoration: none;
  }

  &:after {
    font-family: "Glyphicons Halflings";
    content: "\e258";
    font-size: 10px;
  }

  &:hover:after {
    padding-left: 5px;
    transition: all 200ms ease-in-out;
  }
}

/*
 * end typography
 */
