@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h4>@Model.Message</h4>
<xmp>
    @Html.Raw(Model.Trace);
</xmp>
