<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Path to the 'VSInstr.exe' Visual Studio post-link instrumentation tool-->
    <add key="VSInstrToolPath" value="$(DevEnvDir)..\..\Team Tools\Performance Tools\x64\vsinstr.exe"/>
    <!--Path to the 'VSPerfCmd.exe' Visual Studio performance data collection tool-->
    <add key="VSPerfCmdToolPath" value="$(DevEnvDir)..\..\..\..\Shared\Common\VSPerfCollectionTools\vs2019\x64\VSPerfCmd.exe"/>
  </appSettings>
</configuration>