/*
ruby #CC342D

dark-bg-light #282C34
dark-bg-light-hover #2C323C

dark-bg-dark #21252B
dark-bg-dark-hover #2C313A

dark-code-bg #31363F

*/

body {
  background-color: #282C34;
  color: white;
}

/***********************************************************************
Top bar
***********************************************************************/

.navbar {
background-color: #21252B;
box-shadow: 0 1.5px 3px rgba(0,0,0,.24), 0 3px 8px rgba(0,0,0,.05);
border: none;
border-radius: 0px;
margin-bottom: 0px;
height: 50px;
z-index: 2;
}

.wm-top-page {
overflow: hidden;
}

.wm-page-content {
max-width: 800px;
}

.wm-page-top-frame { display: none; }
.wm-top-page > .wm-page-top-frame { display: block; }
.wm-top-page > .wm-page-content { display: none; }

.wm-top-brand {
display: inline-block;
float: left;
overflow: visible;
width: 0px;
height: 50px;
color: #CC342D;
font-size: 18px;
white-space: nowrap;
text-decoration: none;
}

.wm-top-link, .wm-top-link:hover, .wm-top-link:active, .wm-top-link:visited, .wm-top-link:focus {
color: #CC342D;
text-decoration: none;
}

.wm-vcenter:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-left: -0.25em;
}

.wm-vcentered {
display: inline-block;
vertical-align: middle;
}

.wm-top-title {
display: inline-block;
line-height: 16px;
vertical-align: middle;
}

.wm-top-logo {
max-height: 100%;
}

.wm-top-version {
border: 1px solid #CC342D;
border-radius: 3px;
padding: 0px 5px;
color: #CC342D;
font-size: 8pt;
}

.wm-top-tool {
height: 50px;
white-space: nowrap;
}

.wm-top-tool-expanded {
position: absolute;
right: 0px;
padding: inherit;
width: 100%;
background-color: #CC342D;
}

.wm-top-search {
width: 20rem;
}

/***********************************************************************
Table of contents (side pane)
***********************************************************************/

.wm-toc-pane {
position: absolute;
top: 0px;
padding-top: 70px;
height: 100%;
width: 350px;
z-index: 1;
background-color: #21252B;
border-right: 1px none black;
overflow: auto;
margin-left: 0px;
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 2rem;
transition: margin-left 0.3s;
}

.wm-content-pane {
position: absolute;
top: 0px;
padding-top: 50px;
height: 100%;
width: 100%;
z-index: 0;
padding-left: 350px;
transition: padding-left 0.3s;
/* required for iPhone to scroll the contained iframe */
-webkit-overflow-scrolling: touch;
}

.wm-toc-pane.wm-toc-dropdown {
position: absolute;
display: block;
top: 0;
left: 0;
margin-left: 0;
height: auto;
box-shadow: 2px 3px 4px 0 grey;
}

.wm-toc-repo {
margin-top: -15px;
margin-bottom: 5px;
padding-bottom: 5px;
border-bottom: 1px none black;
}

.wm-toc-hidden > .wm-toc-pane {
margin-left: -250px;
}

.wm-toc-hidden > .wm-content-pane {
padding-left: 0px;
}

.wm-small-show {
display: none;
}

#wm-search-form {
width: 100%;
}
#wm-search-show {
display: none;
}

@media (max-width: 600px) {
.wm-small-hide {
  display: none;
}
.wm-small-show {
  display: block;
}
.wm-small-left {
  float: left !important;
}
#wm-search-show {
  display: block;
  margin-left: 1rem;
}
.wm-top-tool-expanded #wm-search-show {
  display: none;
}
.wm-top-search {
  display: none;
}
.wm-top-tool-expanded .wm-top-search {
  display: table;
  width: 100%;
  padding: 0px;
}

.wm-top-page {
  overflow: visible;
}
.wm-top-container {
  /* This prevents horizontal overflow, but cuts off search results on bigger
   * screens, so included in small-screen section */
  overflow-x: hidden;
}
.wm-toc-pane {
  display: none;
}
.wm-content-pane {
  padding-left: 0px;
  overflow: visible;
}
}

.wm-toctree {
list-style-type: none;
line-height: 16px;
padding-left: 0px;
}

.wm-toctree a, .wm-toctree a:visited, .wm-toctree a:hover, .wm-toctree a:focus {
color: #CC342D;
text-decoration: none;
outline: none;
}

.wm-toc-text {
display: block;
padding: 4px;
cursor: pointer;
}

span.wm-toc-text {
  color: #CC342D;
}

.wm-toc-lev1 > .wm-toc-text { padding-left: 14px; }
.wm-toc-lev2 > .wm-toc-text { padding-left: 28px; }
.wm-toc-lev3 > .wm-toc-text { padding-left: 42px; }
.wm-toc-lev4 > .wm-toc-text { padding-left: 56px; }
.wm-toc-lev5 > .wm-toc-text { padding-left: 70px; }
.wm-toc-lev6 > .wm-toc-text { padding-left: 84px; }

.wm-toc-lev1 + .wm-page-toc { margin-left: 14px; }
.wm-toc-lev2 + .wm-page-toc { margin-left: 28px; }
.wm-toc-lev3 + .wm-page-toc { margin-left: 42px; }
.wm-toc-lev4 + .wm-page-toc { margin-left: 56px; }
.wm-toc-lev5 + .wm-page-toc { margin-left: 70px; }
.wm-toc-lev6 + .wm-page-toc { margin-left: 84px; }

.wm-toc-li-nested {
padding: 0px;
margin: 0px;
}

.wm-toc-opener > .wm-toc-text::before {
content: "\25B6 \FE0E";
display: inline-block;
vertical-align: middle;
font-size: 8px;
width: 14px;
}

.wm-toc-opener.wm-toc-open > .wm-toc-text::before {
content: "\25BC \FE0E";
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
background-color: #CC342D;
color: #21252B;
}

.wm-toc-li:hover {
background-color: #2C313A;
}

.wm-toc-li.wm-current a {
color: #21252B;
}

.wm-toc-li-nested.wm-page-toc {
font-size: 1.2rem;
line-height: 1.2rem;
overflow: hidden;
border-left: 1px solid #CC342D;
}

.wm-page-toc-opener > .wm-toc-text::after {
content: "\25C4";
display: inline-block;
float: right;
vertical-align: middle;
font-size: 8px;
}

.wm-page-toc-opener.wm-page-toc-open > .wm-toc-text::after {
content: "\25BC";
}

.wm-page-toc-text {
padding: 2px 2px 2px 1rem;
display: block;
cursor: pointer;
}

.wm-article {
width: 1px;
min-width: 100%;
height: 100%;
border: none;
}

button, .btn, .btn-sm, .btn-xs, .btn-default, #hist-fwd, #hist-back, #wm-toc-button, #wm-search-go {
  background-color: #21252B;
  color: #CC342D;
  border: 1px solid;
}

.btn-link {
background-color: #282C34;
/* Compensate for border*/
margin: 1px;
border: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
outline: none;
}

button:focus, .btn:focus, .btn-sm:focus, .btn-xs:focus, .btn-default:focus, .btn-link:focus, #hist-fwd:focus, #hist-back:focus, #wm-toc-button:focus, #wm-search-go:focus {
color: #CC342D;
background-color: #2C313A;
border-color: #CC342D;
}

button:hover, .btn:hover, .btn-sm:hover, .btn-xs:hover, .btn-default:hover, .btn-link:hover, #hist-fwd:hover, #hist-back:hover, #wm-toc-button:hover, #wm-search-go:hover {
color: #CC342D;
background-color: #2C313A;
border-color: #CC342D;
}

.btn-default.greybtn {
color: #888;
}

.wm-article-nav-buttons {
margin: 1rem 0;
}

.wm-page-content img {
max-width: 100%;
display: inline-block;
padding: 4px;
line-height: 1.428571429;
background-color: #21252B;
border: 1px none black;
border-radius: 4px;
margin: 20px auto 30px auto;
}

.wm-article-nav {
display: inline-block;
max-width: 48%;
white-space: nowrap;
color: #CC342D;
text-align: right;
}

.wm-article-nav > .btn-link {
display: block;
padding-left: 0.5rem;
padding-right: 0.5rem;
overflow: hidden;
text-overflow: ellipsis;
}

.wm-article-nav > a, .wm-article-nav > a:visited, .wm-article-nav > a:hover, .wm-article-nav > a:focus {
color: #CC342D;
text-decoration: none;
outline: none;
}

/***********************************************************************
* Dropdown search results
***********************************************************************/
#mkdocs-search-results.dropdown-menu {
width: 40rem;
overflow-y: auto;
overflow-x: hidden;
white-space: normal;
max-height: calc(100vh - 60px);
max-width: 90vw;
}

#mkdocs-search-results {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,FontAwesome;
}

.search-link {
font-size: 1.2rem;
}

.search-title {
font-weight: bold;
color: #337ab7;
padding-right: 1rem;
}

.search-text {
color: #999;
overflow: hidden;
text-overflow: ellipsis;
}

.search-text > b {
color: orangered;
}

.wm-search-page {
list-style: none;
padding: 5px 0;
}

.wm-search-page > li {
padding: 1rem 0;
border-bottom: 1px solid #ccc;
}

.wm-search-page .search-link {
font-size: inherit;
}

.wm-search-page .search-link:hover, .wm-search-page .search-link:active {
text-decoration: none;
}

.wm-search-page .search-link:hover .search-title {
text-decoration: underline;
}



/***********************************************************************
* The rest is taken from base.css from mkdocs.
***********************************************************************/

.source-links {
float: right;
}

h1 {
  color: #CC342D;
  font-weight: 400;
  font-size: 42px;
  padding-top: 10px
}

h2, h3, h4, h5, h6 {
  color: #CC342D;
  font-weight: 300;
  padding-top: 10px
}

hr {
  border-top: 1px solid #aaa;
}

pre, .rst-content tt {
  max-width: 100%;
  background: #1E1E1E;
  border: solid 1px black;
  /*color: orangered;*/
  overflow-x: auto;
}

code.code-large, .rst-content tt.code-large {
  font-size: 90%;
}

code {
  padding: 2px 5px;
  background: #31363F;
  border: none 1px black;
  color: orangered;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  background: transparent;
  border: none;
  white-space: pre;
  word-wrap: normal;
  font-family: monospace,serif;
  font-size: 12px;
}

footer {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 200;
  font-size: smaller;
}

.modal-dialog {
  margin-top: 60px;
}

.headerlink {
  font-family: FontAwesome;
  font-size: 14px;
  display: none;
  padding-left: .5em;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink{
  display:inline-block;
}

.admonition {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;
}

/* More class support */
.admonition.note, .admonition.hint, .admonition.tip, .admonition.title, .admonition.admonition { /* csslint allow: adjoining-classes */
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* More class support */
.admonition.warning, .admonition.caution, .admonition.attention { /* csslint allow: adjoining-classes */
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

/* More class support */
.admonition.danger, .admonition.error, .admonition.important { /* csslint allow: adjoining-classes */
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.admonition-title {
  font-weight: bold;
  text-align: left;
}

/* Custom Additions */
input#mkdocs-search-query.form-control {
  background-color: #21252B;
  color: #CC342D;
  border: 1px solid #CC342D;
}

.dropdown-menu, .dropdown-menu li {
  background-color: #21252B;
}
.dropdown-menu li a:hover {
  background-color: #2C313A;
}

a, a:visited, a:hover, a:focus {
color: #CC342D;
text-decoration: none;
outline: none;
}

.wm-page-content a {
  color: #CC342D !important;
  text-decoration: none;
  outline: none;
}

.search-title {
  color: #CC342D;
}

table {
  background-color: inherit;
}
/* Zebra */
th {
  background-color: #21252B;
}
tbody > tr:nth-child(odd), tbody > tr:nth-child(odd) > td {
  background-color: #282C34;
}
tbody > tr:nth-child(even), tbody > tr:nth-child(even) > td {
  background-color: #2C323C;
}

footer {
  flex-shrink: 0;
  display: block;
  margin-bottom: 0px;
  width: 100%;
  background: #21252B;
  color: #616161;
  font-size: 12px;
  padding: 10px 0px 20px 0px;
  margin-top: 50px;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: unset !important;
}

.footer-content {
  padding: 10px;
}

.footer-dark {
  color: white;
}

.footer-dark a {
    color: white;
}
    .footer-dark a:hover,
    .footer-dark a:focus,
    .footer-dark a:active {
      color: white;
      text-decoration: underline;
    }

.footer-dark-col {
  font-size: 12px;
  line-height: 16px;
}

.footer-dark-col .list-unstyled li {
  line-height: 200%;
}

.logo-footer {
  display: block;
  width: 100px;
}

.logo-mark {
  fill: none;
  stroke: white;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.footnote a {
  font-size: 12px;
  line-height: 16px;
}

.footnote li {
  margin-right: 20px;
}

.footnote-copy .list-unstyled li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

.footnote-copy  img {
  width: 120px;
  margin: -5px 0 0 0;
}
